.signupContainer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signupPaper {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.signupTitle {
    text-align: center;
    margin-bottom: 20px;
}

.signupButton {
    margin: 10px 0;
}
