/* Login.module.css */
.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginPaper {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.loginTitle {
    text-align: center;
    margin-bottom: 20px;
}

.loginButton {
    margin: 10px 0;
}

.loginText {
    margin-top: 10px;
    text-align: center;
}
