.main {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-between;
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;

    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: calc(100vh - 6rem);
        padding: 1rem;
        margin-bottom: 1rem;
        box-sizing: border-box;
        position: relative;

        .welcomeWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .scrollButton {
            position: absolute;
            bottom: 0.5rem;
        }
    }

    .typography {
        text-align: center;
        max-width: 28rem;
        margin: 0 auto;
    }

    .buttonContainer {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
    }

    .button {
        min-width: 10rem;
        padding: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
}
