.header {
    background-color: #ffffff;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
}

.navlist {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.title {
    text-align: left;
    font-size: 1.5rem;
}

.button {
    margin: 0 8px;
    color: rgb(56, 14, 241);
}
.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(56, 14, 241);
}
