.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    transition: all 0.3s ease;
    z-index: 1000;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &.sticky {
        background-color: #333;
        padding: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
}

.navlist {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buttonContainer {
    display: flex;
    gap: 10px;
}

.button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;

    &:hover {
        background-color: #0056b3;
        border-color: #004085;
    }
    .logoWrapper {
        transition: color 0.3s ease;

        .sticky & {
            color: white;
        }
    }

    .languageSelectWrapper {
        transition: color 0.3s ease;

        .sticky & {
            color: white;
        }
    }
}
