.header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    transition:
        background-color 0.3s,
        padding 0.3s;
    z-index: 1000;
    border-bottom: 1px solid #f2eaea;
}

.navlist {
    display: flex;
    align-items: center;
}

.buttonContainer {
    display: flex;
    align-items: center;
}

.button {
    margin-left: 10px;
}
