.card {
    display: flex;
    align-items: stretch;
    padding: 0.5rem;
    max-width: 28rem;

    .avatar {
        width: 6rem;
        height: 6rem;
        margin: 1rem 0.5rem 0.5rem;
    }

    .cardContent {
        flex: 1 0;
        flex-direction: column;
    }

    .link {
        text-decoration: none;
    }
}

@media (max-width: 576px) {
    .avatar {
        display: none;
    }
}
